<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  <connectionStrings>
    <add name="connectionSetting" connectionString="server=remotemysql.com; database=kDrDZ0nK2a; user = kDrDZ0nK2a; password = YQDr9KnJqi;"/>
  </connectionStrings>
-->

  <connectionStrings>
    <add name="connectionSetting" connectionString="server=localhost; database=professionalpracticesdb; user = adminPPS; password = proyectoConstruccion2020;"/>
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="681549d62126b7b8" />
        <codeBase version="1.2.9.0" href="log4netv1.2.9.0\log4net.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" />
        <codeBase version="1.2.10.0" href="log4netv1.2.10.0\log4net.dll" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" />
        <codeBase version="2.0.8" href="log4net.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  
</configuration>