<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="connectionSetting" connectionString="server=remotemysql.com; database=kDrDZ0nK2a; user = kDrDZ0nK2a; password = YQDr9KnJqi;"/>
  </connectionStrings>
</configuration>